/* variables and default values*/

:root {
    font-family: 'Roboto', sans-serif;

    --main-black: #000;
    --background-white: #FFF;
    --focus-green: #3EB25E;
    --unfocus-green: #3db05e4d;
    --hover-color: #FFFF7D;
  }

  /* main pages styles */

.views {
    display: inline-flex;
    padding: 3.2rem 5.25rem 3rem 13rem;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 5rem;
    background: var(--background-white)
}



  /* titles, paragraphs and text in general */ 

.forms {

    display: inline-block;
    color: var(--main-black);
    text-align: center;
    padding: 0 0 2rem 2rem;
}
.title1 { 
    font-size: 7rem;
    font-weight: 700;
    line-height: normal;
}

.title2 {
    text-align: left;
}

.subtitle {
    font-size: 2em;
}

p {
    font-size: 1.7rem;
    width: 50%;
    margin-left: 7em;
    
}

  /* buttons */

.next-button {
    background-color: var(--focus-green);
    border-radius: 2rem;
    border: none;
    font-size: 1.3rem;
    color: var(--background-white);
    font-weight: 700;
    width: 43%;
    height: 2.5rem;
    margin: 2rem 1rem 0 0;
}

.skip-button {
    width: 90%;
}

.next-button:hover {
    background-color: var(--hover-color);
    color: var(--main-black);
}

/* selects, radios, checkboxes etc */

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.selectForm {
    display: flex;
    appearance: none;
    border-radius: 1.25em;
    border: 0.5px solid #d7c7c7;
    width: auto;
    height: 2.5em;
    font-size: 1.5em;
    background: var(--background-white);
    padding: 0 6% 0 10%;
    cursor: pointer;
}

.selectForm:hover {
    border: 1px solid var(--main-black);
}

.check {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: var(--main-black);
    font-size: 1.3em;
    
}

.flex-aligning {
    display: flex;
    flex-direction: row;
    padding: 0.4em;
    justify-content: baseline;
    
}

input[type='radio'],[type='checkbox'] {
    width: 22px;
    height: 22px;
    appearance: unset;
    border-radius: 50%;
    background-color: var(--unfocus-green);
}

input[type='radio']:checked,[type='checkbox']:checked {
    background-color: var(--focus-green);
}

/* dropdown arrow */

.dd-arrow {
        width: 0;
        height: 0;
        margin-left: 13px;
        border-radius: 2px;
        position: absolute;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 14px solid #3db05e4d;
        pointer-events: none;
}

#accstat:focus~div{
    border-top: 14px solid #3EB25E ;
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
}
